[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]


[dev-packages]

jinja2-python-version = {path = ".", editable = true}
isort = "*"
tox = "*"
twine = "*"
